{% extends '_layouts/cp' %}

{% set title = 'Pragmatic Web Toolkit - plus18' %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>Baseline plus18 module is enabled from the unified Toolkit plugin.</p>
{% endblock %}
