{% extends '_layouts/cp' %}

{% set title = 'Pragmatic Web Toolkit' %}

{% include 'pragmatic-web-toolkit/_partials/pwt-save-shortcut' %}

{% block content %}
  <h1>{{ title }}</h1>
  <p>Unified core plugin active. Use the sub-navigation to manage each domain.</p>
{% endblock %}
